!!! 5
%html{ lang: I18n.locale, class: page_class }
  = render "layouts/head"
  %body{ class: "#{user_application_theme} #{user_tab_width} #{@body_class} fullscreen-layout", data: { page: body_data_page } }
    = render 'peek/bar'
    = header_message
    = render partial: "layouts/header/default", locals: { project: @project, group: @group }
    .mobile-overlay
    .alert-wrapper.hide-when-top-nav-responsive-open
      = render 'shared/outdated_browser'
      = render "layouts/broadcast"
      = yield :flash_message
      = render "layouts/flash"
    .content-wrapper.hide-when-top-nav-responsive-open{ id: "content-body", class: "d-flex flex-column align-items-stretch" }
      = yield
    = render "layouts/nav/top_nav_responsive", class: "gl-flex-fill-1 gl-overflow-y-auto"
    = footer_message
